<div class="lt3-back">

  <div class="lt3-word-wrap">
    <span class="lt3-word">{{Structure}}</span>
  </div>

  <hr class="lt3-divider">

  {{#Meaning}}
  <div class="lt3-definition">{{Meaning}}</div>
  <hr class="lt3-divider">
  {{/Meaning}}

  {{#Examples}}
  <div class="lt3-examples-block">
    <span class="lt3-section-label">Examples</span>
    <div class="lt3-examples-text">{{Examples}}</div>
  </div>
  {{/Examples}}

  {{#Equivalent}}
  <div class="lt3-equivalent-block">
    <span class="lt3-section-label">Equivalent</span>
    <div class="lt3-equivalent-text">{{Equivalent}}</div>
  </div>
  {{/Equivalent}}

  {{#Tags}}
  <div class="lt3-tags-block">
    <span class="lt3-section-label">Tags</span>
    <span class="lt3-tags-value">{{Tags}}</span>
  </div>
  {{/Tags}}

  {{#Image}}<div class="lt3-image">{{Image}}</div>{{/Image}}

</div>
