<div class="lp8-front">

  <div class="lp8-word-wrap">
    <span class="lp8-word">{{Structure}}</span>
  </div>

  {{#Tags}}
  <div class="lp8-pos-row"><span class="lp8-pos">{{Tags}}</span></div>
  {{/Tags}}

  <hr class="lp8-divider">

  {{#Sentence}}
  <div class="lp8-sentence-block">
    <div class="lp8-sentence-header">
      <span class="lp8-section-label">Example</span>
    </div>
    <div class="lp8-sentence-text">{{Sentence}}</div>
  </div>
  {{/Sentence}}

  {{#Image}}<div class="lp8-image">{{Image}}</div>{{/Image}}

</div>
