<div class="fm6-back">

  <div class="fm6-word-wrap">
    <span class="fm6-word">{{Structure}}</span>
  </div>

  <hr class="fm6-divider">

  {{#Meaning}}
  <div class="fm6-definition">{{Meaning}}</div>
  <hr class="fm6-divider">
  {{/Meaning}}

  {{#Examples}}
  <div class="fm6-examples-block">
    <span class="fm6-section-label">Examples</span>
    <div class="fm6-examples-text">{{Examples}}</div>
  </div>
  {{/Examples}}

  {{#Equivalent}}
  <div class="fm6-equivalent-block">
    <span class="fm6-meta-label">Equivalent</span>
    <span class="fm6-equivalent-value">{{Equivalent}}</span>
  </div>
  {{/Equivalent}}

  {{#Tags}}
  <div class="fm6-tags-block">
    <span class="fm6-section-label">Tags</span>
    <span class="fm6-tags-value">{{Tags}}</span>
  </div>
  {{/Tags}}

  {{#Image}}<div class="fm6-image">{{Image}}</div>{{/Image}}

</div>
