<div class="oa10-back">

  <div class="oa10-word-wrap">
    <span class="oa10-word">{{Structure}}</span>
  </div>

  <hr class="oa10-divider">

  {{#Meaning}}
  <div class="oa10-definition">{{Meaning}}</div>
  <hr class="oa10-divider">
  {{/Meaning}}

  {{#Examples}}
  <div class="oa10-examples-block">
    <span class="oa10-section-label">Examples</span>
    <div class="oa10-examples-text">{{Examples}}</div>
  </div>
  {{/Examples}}

  {{#Equivalent}}
  <div class="oa10-equivalent-block">
    <span class="oa10-meta-label">Equivalent</span>
    <span class="oa10-equivalent-value">{{Equivalent}}</span>
  </div>
  {{/Equivalent}}

  {{#Tags}}
  <div class="oa10-tags-block">
    <span class="oa10-tags-value">{{Tags}}</span>
  </div>
  {{/Tags}}

  {{#Image}}<div class="oa10-image">{{Image}}</div>{{/Image}}

</div>
