<div class="pl9-front">

  <div class="pl9-word-wrap">
    <span class="pl9-word">{{Structure}}</span>
  </div>

  {{#Tags}}
  <div class="pl9-pos-row"><span class="pl9-pos">{{Tags}}</span></div>
  {{/Tags}}

  <hr class="pl9-divider">

  {{#Sentence}}
  <div class="pl9-sentence-block">
    <div class="pl9-sentence-header">
      <span class="pl9-section-label">Example</span>
    </div>
    <div class="pl9-sentence-text">{{Sentence}}</div>
  </div>
  {{/Sentence}}

  {{#Image}}<div class="pl9-image">{{Image}}</div>{{/Image}}

</div>
