<div class="ub11-back">

  <div class="ub11-word-wrap">
    <span class="ub11-word">{{Structure}}</span>
  </div>

  <hr class="ub11-divider">

  {{#Meaning}}
  <div class="ub11-definition">{{Meaning}}</div>
  <hr class="ub11-divider">
  {{/Meaning}}

  {{#Examples}}
  <div class="ub11-examples-block">
    <span class="ub11-section-label">Examples</span>
    <div class="ub11-examples-text">{{Examples}}</div>
  </div>
  {{/Examples}}

  {{#Equivalent}}
  <div class="ub11-equivalent-block">
    <span class="ub11-meta-label">Equivalent</span>
    <span class="ub11-equivalent-value">{{Equivalent}}</span>
  </div>
  {{/Equivalent}}

  {{#Tags}}
  <div class="ub11-tags-block">
    <span class="ub11-tags-value">{{Tags}}</span>
  </div>
  {{/Tags}}

  {{#Image}}<div class="ub11-image">{{Image}}</div>{{/Image}}

</div>
