<div class="ub11-front">

  <div class="ub11-word-wrap">
    <span class="ub11-word">{{Structure}}</span>
  </div>

  {{#Tags}}
  <div class="ub11-pos-row"><span class="ub11-pos">{{Tags}}</span></div>
  {{/Tags}}

  <hr class="ub11-divider">

  {{#Sentence}}
  <div class="ub11-sentence-block">
    <div class="ub11-sentence-header">
      <span class="ub11-section-label">Example</span>
    </div>
    <div class="ub11-sentence-text">{{Sentence}}</div>
  </div>
  {{/Sentence}}

  {{#Image}}<div class="ub11-image">{{Image}}</div>{{/Image}}

</div>
