<div class="word">{{Word}}</div>
<div class="ipa">{{IPA}}</div>
<div class="audio">{{Audio}}</div>

<div class="container">
	<div class="border type" style='font-size: 20px;'>{{POS}}</div>
</div>
<br>
<div class="search">
  <a href="https://dict.laban.vn/find?type=1&query={{text:Word}}">Vietnamese</a> //  
  <a href="https://dictionary.cambridge.org/dictionary/english/{{text:Word}}">Cambridge</a>  //  
  <a href="https://getyarn.io/yarn-find?text={{text:Word}}">Get Yarn</a>  //  
  <a href="https://youglish.com/search/{{text:Word}}/all?">YouGlish</a>  //  
<a href="https://www.google.com/search?sxsrf=ALeKk02q8zhUxaFAEzGKz2qBstcDR65Vsw:1599290262158&q={{text:Word}}+pronounce&sa=X&ved=2ahUKEwiixN-_vNHrAhUOiZQKHTZiBV4Q7xYoAHoECA8QJw&biw=1435&bih=798">Google </a>//
  <a href="http://images.google.com/search?tbm=isch&q={{text:Word}}">Image</a>
<div style='font-family: Arial; font-size: 20px;'>{{Picture}}</div>

<div style="font-size:18px">{{Sentence}}</div>
